@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&family=Montserrat&display=swap');
@import "bootstrap.min.css";
@import "bootstrap-theme.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "animate.min.css";
@import "hover.css";
@import "style.css";



@mixin max-screen($number) {
  @media screen and (max-width: $number) {
    @content;
  }
}


.navbar-default {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;}



.luis {
  font-size: 85px;
  margin-top: 182px;
  margin-bottom: 23px;
  color:  #4d4d4d;
}


@media screen and (max-width: 767px) {
  .luis {
    font-size: 70px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 991px) {
  .luis {
    font-size: 70px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1025px) {
   .luis {
  font-size: 70px;
  margin-top: 91px;
  }
}


.user {
  font-size: 22px;
  color: #999999;
}

.banner {
  background-image: url("../images/backgraund_fon_02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;

}

.navbar-nav li {
  position: relative;
}

.navbar-nav  li  a {
  font-size: 16px;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #878787;
    position: absolute;
    bottom: -9px;
    z-index: 1;
    transition: 0.3s;
    ;

  }
  &:before {
    content: "";
    display: block;
    width: 2px;
    height: 3px;
    background-color:#dedede ;
    position: absolute;
    bottom: -9px;
    z-index: 2;
    left: 50%;
    margin-left: -1px;

  }
}

.nav li {
  &:hover a:after {
    width: 100%;
  }
}

.nav li a {

  padding: 0;
  margin: 10px 15px;
}

.learn-more-btn {
   font-family: Asap ;
  color: #4d4d4d;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration: none;
  border: solid 3px #4d4d4d;
  max-width: 160px;
  padding: 19px 47px;
  margin: auto;


}
